/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2021/12/20, 2:02:14
    Author     : towak
*/

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}



.nav-list a{
    text-decoration: none;
    color: #3f87ce;
}

ul{
    list-style: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header {
    padding-top: 80px;
}

.header-left h1{
    font-size: 50px;
    letter-spacing: 3px;
}

.header-menu {
    display: flex;
}

.header-right{
    margin-left:  auto;
}
.header-right .fab{
    color: #9999ff;
}

.header-right  i{
    padding: 0 5px;
    opacity: 0.5;
}

.header-right  i :hover {
    opacity: 1;
    color: #000;
}




.nav-list{
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
}


.nav-list li{
    padding: 0 8px;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0.5;
}

.nav-list li:hover{
    text-decoration: underline;
}


.top-picture{
     padding-top: 10px;
    width: 100%;
    height: 50%;
    
}



.main{
    padding-top: 10px;
    width: 100%;
    height: 50%;
}

.topick {
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 200;
    padding: 100px 0 50px 0;
}

.icon {
    width: 250px;
}

.about-text a{
    text-decoration: none;
    opacity: 0.7;
}

.about-text p i{
    padding-top: 0px;
}

.about-text a:hover{
    text-decoration: none;
    opacity: 1;
      color: blue;
}


.profile{
    font-size: 500px;
}

.about-text {
    font-size: 18px;
    padding:10px 0 0 80px;
    
}

.about-text .fab {
    padding:10px 10px 0 10px;
    color: #ccccff;
}

.profile{
    font-size: 16px;
    padding-top: 40px;
}




.skills-contents{
    width: 40%;
    text-align: center;
    margin: 0 auto;
}
.skills-text{
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.skills-contents h1{
    font-size: 25px;
}

.skills-contents i{
    padding: 30px 0 40px 0;
}

.sub{
    opacity: 0.5;
    padding-top: 10px;
}

.contents{
    display: flex;
}

.first-contents{
    display: flex;
        padding-top: 30px;
}
.second-contents{
    display: flex;
        padding-top: 100px;
}

.hobby-contents{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.hobby-text{
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.hobby-contents h1{
    font-size: 25px;
}

.hobby-contents i{
    padding: 30px 0 40px 0;
}

.oneperson-contents{
    display: flex;
        padding-top: 30px;
}

.group-contents{
    display: flex;
        padding-top: 30px;
}
.works{
    padding-bottom: 20px;
}
.works-contents{
     width: 100%;
    text-align: center;
    margin: 0 auto;
}

video{
    width: 400px;
    height: 350px;
}

.works-contents h1{
    font-size: 25px;
}
.works-title{
    padding-top: 20px;
}
.works-text{
    text-align: left;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

.foot{
    background-color: #000;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.foot a{
    color: #cccccc;
    text-decoration: none;
}
